<h1>Proyectos Realizados</h1>
<div class="card-deck">
  <div class="card">
    <%= image_tag 'viajes_chile.jpg', class: 'card-img-top', alt: 'Proyecto 1' %>
    <div class="card-body">
      <h5 class="card-title">Viajes Chile</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
       <%= link_to 'Ver más', 'https://gianninaansaldo.github.io/Viajes_chile/', class: 'btn btn-primary ver-mas-btn', target: '_blank' %>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'ricomida.jpg', class: 'card-img-top', alt: 'Proyecto 2' %>
    <div class="card-body">
      <h5 class="card-title">Ricomida</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
       <%= link_to 'Ver más', 'https://gianninaansaldo.github.io/Ricomida/', class: 'btn btn-primary ver-mas-btn', target: '_blank' %>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'suricata.jpg', class: 'card-img-top', alt: 'Proyecto 3' %>
    <div class="card-body">
      <h5 class="card-title">Suricata</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
      <%= link_to 'Ver más', 'https://gianninaansaldo.github.io/Suricata/', class: 'btn btn-primary ver-mas-btn', target: '_blank' %>
    </div>
  </div>
</div>



