 <h1 class="text-center my-4">Proyectos Realizados</h1> 

  <div class="row"> 
    <div class="col-md-4 mb-4"> 
      <div class="card h-100"> 
        <%= image_tag 'viajes_chile.jpg', class: 'card-img-top', alt: 'Proyecto 1' %>
        <div class="card-body p-3"> 
          <h5 class="card-title text-center">Viajes Chile</h5> 
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
          <%= link_to 'Ver más', 'https://gianninaansaldo.github.io/Viajes_chile/', class: 'btn btn-primary ver-mas-btn d-block mx-auto', target: '_blank' %> 
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <%= image_tag 'ricomida.jpg', class: 'card-img-top', alt: 'Proyecto 2' %>
        <div class="card-body p-3">
          <h5 class="card-title text-center">Ricomida</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
          <%= link_to 'Ver más', 'https://gianninaansaldo.github.io/Ricomida/', class: 'btn btn-primary ver-mas-btn d-block mx-auto', target: '_blank' %>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <%= image_tag 'suricata.jpg', class: 'card-img-top', alt: 'Proyecto 3' %>
        <div class="card-body p-3">
          <h5 class="card-title text-center">Suricata</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida venenatis quam, sit amet maximus eros pretium vel.</p>
          <%= link_to 'Ver más', 'https://gianninaansaldo.github.io/Suricata/', class: 'btn btn-primary ver-mas-btn d-block mx-auto', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>

