<!DOCTYPE html>
<html>
  <head>

    <title>Portafolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Portafolio</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Home', home_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Proyectos', projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contacto', contact_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



